.section-about {
    margin-bottom: 128px;
}

.line {
    width: 1060px;
    margin-left: auto;
}
.line__first {
    display: inline-block;
    width: 70%;

    background-color: $color-yellow;
}

.line__second {
    display: inline-block;
    width: 30%;

    background-color: $color-purple;
}

.about-wrap {
}
.about-wrap__about {
}
.about__title {
}
.about-us__main-text {
}
.about-us__secondary-text {
}
.about-wrap__mision {
}
.mision__main-text {
}
.mision-secondary-text {
}
.about__link {
}