.about__decoration-line {
    display: flex;
    width: 1060px;
    margin-left: auto;
}

.decoration-line__yellow {
    width: 70%;
    height: 23px;

    background-color: $color-yellow;
}

.decoration-line__purple {
    width: 30%;
    height: 23px;

    background-color: $color-purple;
}

.section-about__content {
    display: flex;
    gap: 61px;
    padding: 96px 80px;

    background-color: $color-lavender;
}

.container__about {

}

.about__title {
    margin-bottom: 24px;

    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    color: $color-black;
}

.about__main-text {
    width: 485px;
    margin-bottom: 16px;

    font-family: 'Sen', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -2px;
    color: $color-black;
}

.container__mission {

}

.mission__title {
    margin-bottom: 24px;

    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    color: $color-black;
}

.about__secondary-text {
    width: 515px;

    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.75;
    color: $color-medium-grey;
}

.about__link {
    display: inline-block;
    margin-top: 16px;

    font-family: 'Sen', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.7;
    color: $color-purple;
}