.category__title {
    margin-bottom: 48px;
}

.category__list {
    display: flex;
    gap: 32px;
}

.category__item {
    
}

.category__link {

}

.category-list__title {

}

.category-list__text {

}